<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Dinara</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <br/>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>number</th>

            </tr>
            <tr th:each = "guest : ${guests}">
                <td th:text = "${guest.firstName}">test</td>
                <td th:text = "${guest.lastName}">test</td>
                <td th:text = "${guest.number}">test</td>

                <td> <a th:href = "@{'/guest/deleteContact?id='+${guest.id}}">delete</a></td>
                <td><a th:href = "@{/guest/add}"  role="button">add</a></td>
                <td> <a th:href="@{'/guest/editUser?id='+${guest.id}}">Edit</a></td>
            </tr>
        </table>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>

</html>