<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Author page</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/stud/add}" th:object = "${student}" method="POST">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" th:field = "*{firstName}" class="form-control" placeholder="Enter your firtname" />

                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" th:field = "*{lastName}" class="form-control" placeholder="Enter your lastname" />

                <label for="course">Course</label>
                <input type="course" id="course" name="course" th:field = "*{course}" class="form-control" placeholder="Enter your course"/>

                <br/>
                <button type="submit" class="btn btn-primary">Сақтау</button>

            </form>
        </div>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>